## Challenge 1: Establish Your Plan
### Azure Search
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_API_KEY=

### Azure Blob Storage for DATA
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=

### Azure AI Document intelligence
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_API_KEY=
AZURE_DOCUMENT_INTELLIGENCE_API_VERSION= "2024-11-30"

### SQL Server
SQL_SERVER=
SQL_DB=
SQL_USERNAME=
SQL_PWD=

## Challenge 3: Start Coding
### Azure OpenAI Service
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_MODEL=
AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_OPENAI_MODEL_VERSION="2024-08-06"
AZURE_OPENAI_EMBEDDING= "text-embedding-ada-002"

### Microsoft Phi Service (Optional)
PHI_API_KEY=
PHI_ENDPOINT=
PHI_DEPLOYMENT_NAME=

## Challenge 5: Multi-Source, Multi-Agent
AZURE_SEARCH_INDEX=


## Challenge 6: Add Actions 
MOCK_API_ENDPOINT=
