## Challenge 3: Play with the vanilla models
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=2023-03-15-preview
AZURE_OPENAI_MODEL=gpt-4o
AZURE_OPENAI_DEPLOYMENT_NAME=

PHI_API_KEY=
PHI_ENDPOINT=
PHI_DEPLOYMENT_NAME=azureai
AZURE_OPENAI_EMBEDDING=text-embedding-ada-002

### Azure Search
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_API_KEY=
AZURE_SEARCH_INDEX=itsarag-index-recursive

### Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=

## Challenge 4: Advanced RAG with Azure AI Document intelligence
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_API_KEY=

## Challenge 5: Advanced RAG with Azure AI Form Recognizer
SQL_SERVER=
SQL_DB=
SQL_USERNAME=
SQL_PWD=
SQL_DRIVER=ODBC Driver 18 for SQL Server

## Challenge 6: Add Actions 
MOCK_API_ENDPOINT=